.list-box {
  position: relative;
}

#foodList {
  text-align: left;
  display: none;
  position: absolute;
  height: 110px;
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
  box-shadow: 3px 3px 9px 0px rgba(75, 75, 75, 0.75);
  -webkit-box-shadow: 3px 3px 9px 0px rgba(112, 112, 112, 0.75);
  -moz-box-shadow: 3px 3px 9px 0px rgba(94, 94, 94, 0.75);
  li {
    cursor: pointer;
    list-style: none;
  }
}
