.add-box {
  padding: 40px;
  margin-top: 20px;
  border: #02c39a 1px solid;
  margin-left: auto !important;
  margin-right: auto !important;
}
.drag-left {
  font-size: 14px;
  text-indent: 4px;
  text-align: left;
}
