$primary-font: "Montserrat", sans-serif;

$primary-bg-color: #fc8410;
$secondary-bg-color: #106853;
//for sections
$bg-color-f2: #f2f2f2;
// for footer
$bg-color-f8: #f8f8f8;

$bg-color-white: #fff;

// text
$primary-text-color: #303030;
$secondary-text-color: #fff;
$tertiary-text-color: #202f3f;

$fs-header-a: 18px;
$fs-home-h1: 36px;
$fs-home-h2: 32px;
$fs-home-h3: 24px;
$fs-home-h4: 20px;
$fs-home-h5: 18px;

$fs-home-label: 12px;
$fs-home-p: 16px;
$fs-home-span: 15px;
$fs-home-a: 15px;

$fs-footer-h6: 18px;
$fs-footer-p: 15px;
